@font-face {
    font-family: MontserratAlternates;
    src: url('../public/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf');
}

.Footer a {
    margin-left: 50px;
}

.Footer {
    width: 100%;
    height: 132px;

    margin-top: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #721D08;
}

.Footer .FooterText {
    width: 225px;
    height: 55px;

    font-family: MontserratAlternates;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}
