.Footer {
    width: 100%;
    height: 132px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #721D08;
}

.Footer a {
    margin-left: 50px;
}

.Footer .FooterText {
    width: 225px;
    height: 55px;

    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}
