.Form {
    width: 703px;

    color: white;
    background-color: #721D08;

    border-radius: 25px;
    box-shadow: 0px 4px 10px 5px #00000040;

    position: absolute;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.Form .Title {
    width: 340px;
    height: 98px;

    margin-top: 50px;
    margin-bottom: 30px;

    align-content: center;
    text-align: center;
}

.Form .Field {
    width: 515px;
    height: 10%;

    font-weight: 500;
    font-size: 16px;

    display: inline-flex;
    align-items: center;

    border: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}

.Form .Field .FieldImage {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Form .Field .FieldImage img {
    height: 60%;
}

.Form .Field .FieldText {
    margin-left: 10px;
    cursor: text;
}

.Form .SubmitButton {
    width: 344px;
    height: 74px;

    margin-top: 70px;

    background-color: #009C41;
    border-radius: 15px;
    box-shadow: 4px 7px 10px 0px #00000026;

    align-content: center;
    text-align: center;
    cursor: pointer;
}

.Form .ForgotPasswordButton {
    margin-top: 30px;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.Form .SignUpOffer {
    margin-top: 30px;
    font-size: 18px;
    display: inline-flex;
}

.Form .SignUpButton {
    color: #4469ff;
    text-decoration: underline;
    cursor: pointer;
}
