@font-face {
    font-family: MontserratAlternates;
    src: url('../public/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf');
}

.Form {
    color: white;
    background-color: #721D08;

    border-radius: 25px;
    box-shadow: 0px 4px 10px 5px #00000040;

    position: absolute;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: MontserratAlternates;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.Form .Title {
    width: 340px;
    height: 98px;

    margin-top: 57px;

    align-content: center;
    text-align: center;
}

.Form .SubmitButton {
    width: 344px;
    height: 74px;

    margin-top: 300px;

    background-color: #009C41;
    border-radius: 15px;

    align-content: center;
    text-align: center;
    cursor: pointer;
}

.Form .ForgotPasswordButton {
    margin-top: 20px;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.Form .SignUpOffer {
    margin-top: 20px;
    font-size: 18px;
}

.Form .SignUpButton {
    color: #4469ff;
    text-decoration: underline;
    cursor: pointer;
}

.Form .SignUpOffer {
    display: inline-flex;
}