@font-face {
    font-family: MontserratAlternates;
    src: url('Montserrat_Alternates/MontserratAlternates-SemiBold.ttf');
}

.Navbar a {
    color: white;
    text-decoration: none;
    font-family: MontserratAlternates;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
}

.Navbar {
    width: 100%;
    height: 97px;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: inline-flex;
    justify-content: flex-end;

    background-color: #721D08;
}

.HomePage {
    width: 305px;
    height: 56px;

    margin-top: 15px;
    margin-left: 38px;
    margin-right: auto;
    display: inline-flex;
}

.HomePageText {
    width: 254px;
    height: 38px;

    margin-top: 18px;
    
    font-size: 30px;
    font-weight: 700;
}

.HomePageLogo {
    width: 50.51px;
    height: 55.96px;
}

/* .BestGrills {
    width: 132px;
    height: 29px;

    margin-top: 35px;
} */

#BestGrills {
    width: 132px;
    height: 29px;

    margin-top: 35px;
}

.LoggedIn {
    display: none;
}

.Login {
    width: 70px;
    height: 29px;

    margin-top: 35px;
    margin-left: 38px;
}

.Register {
    width: 106px;
    height: 29px;

    margin-top: 35px;
    margin-left: 38px;
    margin-right: 38px;
}