.Navbar div {
    color: white;
    text-decoration: none;
    font-family: MontserratAlternates;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}

.Navbar {
    width: 100%;
    height: 97px;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: inline-flex;
    justify-content: flex-end;

    background-color: #721D08;
    box-shadow: 0px 1px 14px 0px #021B2C;
}

.Navbar .HomeButton {
    width: 305px;
    height: 56px;

    margin-top: 15px;
    margin-left: 38px;
    margin-right: auto;
    display: inline-flex;
}

.Navbar .HomeButton:hover{
    filter: brightness(90%);
}

.Navbar .HomeButton:active{
    filter: brightness(80%);
}

.Navbar .HomeButtonText {
    width: 254px;
    height: 38px;

    margin-top: 18px;
    
    font-size: 30px;
    font-weight: 700;
}

.Navbar .HomeButtonLogo {
    width: 50.51px;
    height: 55.96px;
}

.Navbar .ProfileButton {
    width: 75px;
    height: 29px;

    padding: 10px;
    margin-top: 25px;
}

.Navbar .ProfileButton:hover{
    filter: brightness(90%);
}

.Navbar .BestGrillsButton {
    width: 132px;
    height: 29px;

    padding: 10px;
    margin-top: 25px;
    margin-left: 38px;
}

.Navbar .BestGrillsButton:hover{
    filter: brightness(90%);
}

.Navbar .LoginButton {
    width: 70px;
    height: 29px;

    padding: 10px;
    margin-top: 25px;
    margin-left: 38px;
}

.Navbar .LoginButton:hover{
    filter: brightness(90%);
}

.Navbar .RegisterButton {
    width: 106px;
    height: 29px;

    padding: 10px;
    margin-top: 25px;
    margin-left: 38px;
    margin-right: 38px;
}

.Navbar .RegisterButton:hover{
    filter: brightness(90%);
}

.Navbar .LogoutButton {
    width: 89px;
    height: 29px;

    padding: 10px;
    margin-top: 25px;
    margin-left: 38px;
    margin-right: 38px;
}

.Navbar .LogoutButton:hover{
    filter: brightness(90%);
}