.PostGrill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostGrill .BackgroundImage {
    width: 96%;
    height: 840px;

    margin-top: 71px;
    margin-bottom: 71px;
}