.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-family: Montserrat;
    font-size: 32px;
    line-height: 100%;
}

.Profile .BackgroundImage {
    width: 96%;
    height: 840px;

    margin-top: 71px;
    margin-bottom: 71px;
}

.Profile .Info {
    width: 751px;
    height: 320px;

    margin-top: 100px;
    margin-left: -550px;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #721D08;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 4px #00000040;
}

.Profile .Info .Field {
    width: 640px;
    height: 25%;

    margin-left: 50px;
    margin-bottom: 10px;

    font-weight: 500;

    display: inline-flex;
    align-items: center;

    border: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}

.Profile .PostGrillButton {
    width: 370px;
    height: 77px;

    background-color: #26AB5D;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px #00000040;

    font-weight: 600;

    margin-top: 220px;
    margin-left: 900px;
    position: absolute;

    align-content: center;
    text-align: center;
    cursor: pointer;
    transition: filter 0.2s;
}

.Profile .PostGrillButton:hover{
    filter: brightness(90%);
}

.Profile .PostGrillButton:active{
    transition: filter 0.01s;
    filter: brightness(80%);
}